<div class="container d-flex flex-wrap h-100 align-content-center justify-content-center">
    <div class="container d-flex flex-wrap h-75 align-content-center justify-content-center">
        <h1>New Task</h1>
        <%= render "form" %>
    </div>
</div>