<h1>
    Category: <%= @category.name %>
    <%= link_to "Back", category_path(@category), class:"btn btn-primary" %>
</h1>

<table>
    <tr>
        <th>
            Task
        </th>
        <th>
            Description
        </th>
        <th>
            Deadline
        </th>
        <th>
            Edit
        </th>
        <th>
            Destroy
        </th>
    </tr>
    <tr>
        <%= render @task %>
    </tr>
</table>