<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category %>
      <%= link_to "Add Task", new_category_task_path(category.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Category", new_category_path %>
