<nav class="nav nav-pills flex-column align-items-center">
    <h2>To Do List</h2>
    <div class="container-fluid">
        <%= link_to "Home", root_path, class:"nav-link rounded-pill active" %>
        <%= link_to "Categories", categories_path, class:"nav-link" %>
        <a class="nav-link" href="#" data-toggle="tab">Tasks</a>
        <a class="nav-link" href="#" data-toggle="tab">Urgent</a>
    </div>
</nav>

